.vscode/**
.git/**
.gitignore
.codex/**
.claude/**
node_modules/**
!node_modules/
!node_modules/pinyin-pro/
!node_modules/pinyin-pro/package.json
!node_modules/pinyin-pro/LICENSE
!node_modules/pinyin-pro/dist/**
!node_modules/adm-zip/
!node_modules/adm-zip/package.json
!node_modules/adm-zip/LICENSE
!node_modules/adm-zip/*.js
!node_modules/adm-zip/headers/**
!node_modules/adm-zip/methods/**
!node_modules/adm-zip/util/**
src/**
scripts/**
*.log
*.vsix
tsconfig.json
!out/**
*.map
**/*.map
assets/stdlibs/**
!syntaxes/**
!snippets/**
!language-configuration.json
!tly-language-configuration.json
