.vscode/**
.git/**
.gitignore
node_modules/**
!node_modules/
!node_modules/pinyin-pro/
!node_modules/pinyin-pro/package.json
!node_modules/pinyin-pro/LICENSE
!node_modules/pinyin-pro/dist/**
src/**
*.log
tsconfig.json
!out/**
*.map
**/*.map
!assets/**
!syntaxes/**
!snippets/**
!language-configuration.json
!tly-language-configuration.json
